<h2>New Book</h2>
<form action="/books" method="POST">
    <%- include('./_form_fields')  %> 
    <a href="/books" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-primary">Create</button>
</form>